<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up | Log In</title>
    {% load static %}
	<link rel="stylesheet" , href="{% static 'css/pg.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">
       <div class="title-text">
          <div class="title login">
             Thank you for trusting 
          
                </div>
             </form>
          </div>
       </div>
    </div>
  </body>
</html>